<head xmlns:th="http://www.thymeleaf.org" th:fragment="head_fragment(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title th:text="${title}"></title>
    <!-- 各画面専用のcssを定義します -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.18.2/dist/css/uikit.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.18.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.18.2/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <link th:href="@{/css/style.css}" rel="stylesheet" />


</head>