body{
padding:0;
margin:0;
    height:100vh;

}
h1{
padding:0;
margin:0;
}

/* --------background img ---------*/
.back_img {
    padding:0 3% 0 3%;
    height:100vh;
    text-align:  center;    /* 文字中央寄せ */
    border: solid 2px;      /* 枠線指定 */
    background-image: url(img/background.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
.main {
    width:auto;
    height:75vh;
    overflow: auto;
    padding:40px;
    border:  solid 1px;                             /* 枠線指定 */
    margin: 15px 2% 0 2%;                             /* 余白指定 */
    background-color: rgba(255, 255, 255, 0.562);
}

/*--------- main */
/*index*/
#start{
    padding: 25px 40px;
    border-radius: 10px;
    Display: inline-block;
    color: black;
    border: 5px solid black;
    border-radius: 50rem;
    font-size:3em;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
/*createplan , contentform*/
.createplan{
    width:auto;
    height:auto
}
.createplan .planform{
    width:100%;
    height:auto;
    margin-bottom:20px
}
.createplan label{
    font-size:1.5em;
}
.createplan input{
    width:70%;
    height:50px;
    text-align:center;
    padding: 0 10px;
    border-radius: 10px;
    font-size:20px;
}
.createplan #title-content{
    font-size: 15px;
    height:40px;
}
.createplan #title-contents{
    height:auto;
}
.createplan #date-selects{
    height:auto;
}
select{
    width:60%;
    height:40px;
    font-size:20px;
}

.createplan textarea{
    width:90%;
    height:60px;
    font-size:15px;
}
button{
    width:90%;
    height:50px;
    border-radius: 10px;
    margin-top:10px;
}
#contentbutton{
    margin-top:60px;
}

/*edit*/




/**/
#map {
  height: 400px;
  width: 600px;
}

@media screen and (max-width:376px) {


}