body{
padding:0;
margin:0;
}
h1{
padding:0;
margin:0;
}

/*background image---------------*/
.bg_test-text {
    border:  solid 1px;                             /* 枠線指定 */
    display:  inline-block;                         /* インラインブロックにする */
    padding: 10px 20px;                             /* 余白指定 */
    background-color: rgba(255, 255, 255, 0.7);     /* 背景色指定 */
}
.bg_test {
    aspect-ratio:4/9;
    text-align:  center;    /* 文字中央寄せ */
    padding:  150px;        /* 余白指定 */
    border: solid 2px;      /* 枠線指定 */
}
.bg_test {
    background-image: url(img/background1.webp);    /* 背景画像指定 */
}

/**/
#map {
  height: 400px;
  width: 600px;
}
