body{
    padding:0;
    margin:0;
    height:100vh;

}
h1{
    padding:0;
    margin:0;
}


/* --------background img ---------*/
.back_img {
    padding:0 3% 0 3%;
    height:100vh;
    text-align:  center;    /* 文字中央寄せ */
    border: solid 2px;      /* 枠線指定 */
    background-image: url(img/background_phone2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
.main {
    width:auto;
    height:80vh;
    overflow: auto;
    padding:2% 10px 0 10px;
    border:  solid 1px;                             /* 枠線指定 */
    margin: 15px 2% 0 2%;                             /* 余白指定 */
    background-color: rgba(255, 255, 255, 0.562);
}
.contents-bg{
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom:10px;
    margin:auto;
    margin-bottom:10px;
}
.plan-border{
    border: 1px solid #cccccc;
    border-radius: 2px;
}
.bottom-border{
    border-bottom:solid 1px #6666;
}
input,textarea,select{
    background-color: rgba(255, 255, 255, 0.7);
}


/*--------- main */
label{
 color:#666;
}
/*index*/
#start{
    padding: 25px 40px;
    border-radius: 10px;
    Display: inline-block;
    color: black;
    border: 5px solid black;
    border-radius: 50rem;
    font-size:3em;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
/*contentplan , contentform*/
.contentplan{
    width:auto;
    height:auto
    margin-top:10px;
}
.type-flex{
    display:flex;
}
#Title-Day{
    justify-content: space-evenly;
    align-items: center;
}
.contentplan .planform{
    width:100%;
    height:auto;
    margin-bottom:15px;
}
.contentplan label{
    font-size:1em;
}
.contentplan input{
    width:60%;
    height:50px;
    text-align:center;
    padding: 0 10px;
    border-radius: 10px;
    font-size:15px;
}
.contentplan #title-contents{
    height:auto;
    width:50%;
}
.contentplan #title-content{
    font-size:15px;
    height:40px;
    width:100%;
    padding:0;
}
.contentplan #date-selects{
    height:auto;
    width:100px;
    margin-right:10px;

}
select{
    width:100%;
    font-size:15px;
}

.contentplan textarea{
    width:60%;
    height:70px;
    font-size:15px;
    border: 2px solid #cccccc;
    border-radius: 6px;
}
#changetext{
    margin:0;
}
button{
    width:70%;
    height:50px;
    border-radius: 10px;
    margin-top:10px;
    font-size:20px;
}
#contentbutton{
    margin-top:30px;
}

/*-edit*/
/*
    oo年-月-日
    のstyle
    記入
*/
#addbutton{
    margin-bottom:4%;
}
.editMain #PlanList{
    padding: 0 5% 10px 5%;
    color:black;
}
#listDay{
    width:fit-content;
    font-size:20px;
    border-radius: 10px;
    padding:0 5px 0 5px;
    color:black;
    margin:0 0 5px 0;
}
#contentlist{
    width:80%;
    margin:0 5% 0 5%;
}
#content-inside{
}
#listMain{
    width:100%;
    margin-bottom:5px;
    color:red;
    justify-content: flex-start;
}
#listMain *{
    width:auto;
}
#listMain #contentName{
    text-align:left;
    width:50%;
    font-size:20px;
        margin: auto;
    margin-left:10px;
}
#listMain div{
        margin-left: auto;
        margin-right: 30px;
    justify-content: center;
}
#listMain div p{
    margin:0 5% 0 0;
    font-size:20px;
}
#listMain div span{
    width:40px;
    margin:0 5% 0 5%;
    font-size:20px;
 }

 #listSub{
    justify-content: flex-start;
    margin: 5px 0 5px 10px;
 }
#content-desc{
    width:70%;
    height:auto;
    margin-right:5px;
}
#content-desc p{
    width:100%;
    font-size:15px;
    margin:0;
    text-align:left;
    overflow-wrap: break-word;
}
#content-edit{
    margin-top:5px;
}
#content-edit a{

}
#calender-button{
    margin:auto;
    margin-right:20px;
}

#calender-button a *{
    background-color:white;
}




/**/
#map {
  height: 400px;
  width: 600px;
}

@media screen and (min-width:769px) {

    .back_img {
        padding:0 3% 0 3%;
        height:100vh;
        text-align:  center;    /* 文字中央寄せ */
        border: solid 2px;      /* 枠線指定 */
        background-image: url(img/background2.webp);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;

    .main .media-flex{
        display:flex;
    }
    .type-flex{
        display:block;
    }
    /*createplan.html*/
    .planform{
        margin-bottom: 10vh;
    }

    /*contentform.html*/
    #title-contents,#desc-contents{
        text-align:left;
    }
    #form-contents{
        position:relative;
    }
    #date-selects{
        position:absolute;
        top:0;
        right:15%;
        width:150px;
    }
    #date-select{
        font-size:1.5em;
        height:150px;
    }
    input,#title-content{
        font-size:30px;
    }
    #desc-contents{
        margin-bottom:10vh;
    }
    #desc-content{
        font-size:20px;
        font-weight: 700;
        width:70%;
        height:150px;
    }

    }
    #listDay{
        margin: auto;
        margin-bottom: 10px;
    }

}