<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>予定入力フォーム</title>
</head>
<body>
<p>予定入力</p>
<form th:action="@{/edit/save}" method="post" enctype="multipart/form-data" th:object="${eventPlan}">
    <label>
        追加する日程選択 ドロップダウン
        <select>
<!--            <th:block th:each=" : ${event}">-->
<!--                <option th:each="" th:value="" th:text="" th:selected=""></option>-->
<!--            </th:block>-->
        </select>
    </label>
</form>
</body>
</html>