<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/head :: head_fragment(title = 'サンプルアプリケーション')">

<body>
<!--Header-->
<div th:replace="/fragment/header :: header"></div>

<h2>create plan</h2>

<form th:action="@{/create/save}" method="post" enctype="multipart/form-data" th:object="${eventPlan}">

    <div>
        <label for="planname">PlanName</label>
        <input type="text" th:field="*{placeName}" required minlength="2" maxlength="128" id="planname"/>
    </div>
    <div>
        <label for="startDay">[[${startDay}]]</label>
        <input type="date" th:field="*{startDate}" required minlength="2" maxlength="128" id="startDay"/>
    </div>
    <div>
        <label for="endDay">[[${endDay}]]</label>
        <input type="date" th:field="*{endDate}" required minlength="2" maxlength="128" id="endDay"/>
    </div>
    <button type="submit">決定</button>
</form>
</body>
</html>