<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/head :: head_fragment(title = 'サンプルアプリケーション')">

<body>
<!--Header-->
<div th:replace="/fragment/header :: header"></div>


<!--startDate - endDate-->
<p th:text="${eventPlan.startDate} + '  ---------  ' + ${eventPlan.endDate}"></p>

<!--addButton-->
<button onclick="location.href='addcontent'">予定を追加する</button><br>

<!--PlanList-->
<div th:each="eventdate:${#numbers.sequence(0,eventDate)}">
    <span th:text="${eventdate}+1 +'日目'"></span>
<!--    <div>[[${sortedContents.get(eventdate)}]]</div>-->
    <div th:each="content: ${sortedContents.get(eventdate)}">
        <p>[[${content.getContentName()}]]</p>
        <p>[[${content.getDay()}+1]]</p>
        <p>[[${content.getStartTime()}]]</p>
        <p>[[${content.getDescription()}]]</p>
        <p>[[${content.getEventPlanItemId()}]]</p>
        <p>---------------------------------------------------</p>
        <a href="/editcontent" th:href="@{editcontent(contentId=${content.getEventPlanItemId()})}">test</a>

    </div>
    <div class=""> <!-- day plan table -->
        <table>

        </table>
    </div>
</div>

<p>------------</p>

<!--footer-->
<div th:replace="/fragment/footer :: footer"></div>


</body>
</html>