<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" style="width:100%;">
<head th:replace="/fragment/head :: head_fragment(title = 'sample')"></head>

<body>
<!--background img-->
    <div class="back_img">
        <!--Header-->
        <div th:replace="/fragment/header :: header"></div>

            <!--main-->
            <section class="main">
                <!--ボタン -> CreatePlan-->
                <section class="createplan">
                    <div style="padding-top:70px;">
                        <a id="start" href='create'>
                            プラン作成を始める
                        </a>
                    </div>
                    <p style="font-size:2em">
                        説明
                    </p>
                    <div class="planform">
                        <ul uk-accordion="collapsible: false">
                            <li>
                                <a class="uk-accordion-title" href>Item 1</a>
                                <div class="uk-accordion-content">
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href>Item 2</a>
                                <div class="uk-accordion-content">
<!--                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>-->
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href>Item 3</a>
                                <div class="uk-accordion-content">
<!--                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </section>
            <!--/main-->

        <!--footer-->
        <div th:replace="/fragment/footer :: footer"></div>
    </div>

</body>
</html>
