<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" style="width:100%;">
<head th:replace="/fragment/head :: head_fragment(title = 'sample')"></head>

<body>
<!--background img-->
    <div class="back_img">
        <!--Header-->
        <div th:replace="/fragment/header :: header"></div>

            <!--main-->
            <section class="main">
                <!--ボタン -> CreatePlan-->
                <div style="padding-top:70px;">
                    <a id="start" href='create'>
                        プラン作成を始める
                    </a>
                </div>
                <p style="font-size:2em">
                    説明
                </p>
            </section>
            <!--/main-->

        <!--footer-->
        <div th:replace="/fragment/footer :: footer"></div>
    </div>

</body>
</html>
